<div class="album text-muted">
      <div class="container">
        <div class="row">
            <%#Haciendo un partial al archivo _portfolio_item.html.erb%>
            <%#Al tener más de una palabra el nombre de la variable, se le debe
            indicar a ruby específicamente el nombre de la variable %>
            <%= render partial: 'portfolio_item', collection: @portfolio_items%>
        </div>
    </div>
</div>