<div class="col-sm-8 blog-main">

  <%= paginate @blogs %>
  <%# Se hace un partial al archivo _blog.html.erb pero 
  en este caso, se le manda un parámetro, un objeto tipo blogs%>
  <%= render @blogs %>
  
  <%= paginate @blogs %>

</div><!-- /.blog-main -->
