<div class="col-sm-8 blog-main">
  <%# Se hace un partial al archivo _blog.html.erb pero 
  en este caso, se le manda un parámetro, un objeto tipo blogs%>
  <h2><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)%> |
  
  <p>
    <%= @blog.body %>  
  </p>
</div><!-- /.blog-main -->

