<div class="masthead clearfix">
<div class="inner">
    <h3 class="masthead-brand">Héctor Tello</h3>
    <nav class="nav nav-masthead app-nav">
        <%= nav_helper 'nav-link', 'span' %>
        <%# Importando el método login_helper que está en el archivo application_helper.rb %>
        <%= login_helper 'nav-link'%>
    </nav>
</div>
</div>