<!-- Start of the sidebar -->
<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
    <h4>Sobre mí</h4>
    <p>Mi nombre es <em>Héctor Tello</em> actual estudiante de Ingeniería en Informática
    en Sistemas en la URL, Campus Quetzaltenango.</p>
    </div>
    <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
        <li>
            <a href="https://github.com/hectortllo">
                <%= image_tag("GitHub.png", :alt => "rss feed") %>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/hectortllo">
                <%= image_tag("facebook.png", :alt => "rss feed") %>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/Tello__Hector">
                <%= image_tag("twitter.png", :alt => "rss feed") %>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/hectortllo/">
                <%= image_tag("instagram.png", :alt => "rss feed") %>
            </a>
        </li>
    </ol>
    </div>
</div><!-- /.blog-sidebar -->
</div>
<!-- end of the sidebar -->