<h1 class="cover-heading">Sobre mí</h1>
    <hr>
    <p class="lead">En la actualidad estoy en el octavo semestre en la carrera Ingeniería
        en Informática y Sistemas, en la universidad Rafael Landívar, Campus de Quetzaltenango.
    </p>

    <p class="lead">La computación me comenzó a llamar la atención cuando tenía aproximadamente
        14 años. Fue cuando pude hacer mi primer programa, en Turbo Pascal, y desde ese día supe 
        a lo que me quería dedicar.
    </p>
