<div class="inner cover">
  <h1 class="cover-heading">Bienvenido</h1>
  <p class="lead">En esta página podrás encontrar un poco de todo lo que he hecho a lo largo de mi
        vida como programador.</p>
  <p class="lead">
    <%= link_to "Sobre mí", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

